POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=<your-db-name>
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<your-user-password>

API_KEY=<your-secret-key>

RABBITMQ_URL=amqp://<username>:<passsword>@rabbitmq:5672/